src/test/resources/redis-datastructures-tests-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:redis="http://www.mulesoft.org/schema/mule/redis" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
          http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <redis:config />

    <flow name="strings-writer">
        <vm:inbound-endpoint path="strings-writer.in"
            exchange-pattern="request-response" />
        <all>
            <redis:set key="#[message.inboundProperties.key]" />
            <redis:set key="#[message.inboundProperties.key].ttl"
                expire="1" />
            <redis:set key="#[message.inboundProperties.key].other"
                ifNotExists="true" />
            <append-string-transformer message=".foo" />
            <redis:set key="#[message.inboundProperties.key]"
                ifNotExists="true" />
        </all>
    </flow>
    <flow name="strings-reader">
        <vm:inbound-endpoint path="strings-reader.in"
            exchange-pattern="request-response" />
        <redis:get key="#[message.inboundProperties.key]" />
    </flow>

    <flow name="incr-decr">
        <vm:inbound-endpoint path="incr-decr.in"
            exchange-pattern="request-response" />
        <redis:increment key="#[message.inboundProperties.key]" />
        <redis:increment key="#[message.inboundProperties.key]"
            step="5" />
        <redis:decrement key="#[message.inboundProperties.key]" />
        <redis:decrement key="#[message.inboundProperties.key]"
            step="7" />
    </flow>

    <flow name="hashes-writer">
        <vm:inbound-endpoint path="hashes-writer.in"
            exchange-pattern="request-response" />
        <all>
            <redis:hash-set key="#[message.inboundProperties.key]"
                field="#[header:INBOUND:field]" />
            <redis:hash-set key="#[message.inboundProperties.key]"
                field="#[string:#[header:INBOUND:field].other]" ifNotExists="true" />
            <append-string-transformer message=".foo" />
            <redis:hash-set key="#[message.inboundProperties.key]"
                field="#[header:INBOUND:field]" ifNotExists="true" />
        </all>
    </flow>
    <flow name="hashes-reader">
        <vm:inbound-endpoint path="hashes-reader.in"
            exchange-pattern="request-response" />
        <redis:hash-get key="#[message.inboundProperties.key]"
            field="#[header:INBOUND:field]" />
    </flow>

    <flow name="lists-writer">
        <vm:inbound-endpoint path="lists-writer.in"
            exchange-pattern="request-response" />
        <all>
            <redis:list-push key="#[message.inboundProperties.key]"
                side="LEFT" ifExists="true" />
            <redis:list-push key="#[message.inboundProperties.key]"
                side="RIGHT" ifExists="true" />
            <redis:list-push key="#[message.inboundProperties.key]"
                side="LEFT" />
            <redis:list-push key="#[message.inboundProperties.key]"
                side="RIGHT" />
        </all>
    </flow>
    <flow name="lists-reader">
        <vm:inbound-endpoint path="lists-reader.in"
            exchange-pattern="request-response" />
        <redis:list-pop key="#[message.inboundProperties.key]"
            side="#[header:INBOUND:side]" />
    </flow>

    <flow name="sets-writer">
        <vm:inbound-endpoint path="sets-writer.in"
            exchange-pattern="request-response" />

        <all>
            <redis:set-add key="#[message.inboundProperties.key]" />
            <redis:set-add key="#[message.inboundProperties.key]"
                mustSucceed="true" />
            <redis:set-add key="#[message.inboundProperties.key]" />
        </all>
    </flow>
    <flow name="sets-reader">
        <vm:inbound-endpoint path="sets-reader.in"
            exchange-pattern="request-response" />
        <all>
            <redis:set-fetch-random-member key="#[message.inboundProperties.key]" />
            <redis:set-pop key="#[message.inboundProperties.key]" />
            <redis:set-pop key="#[message.inboundProperties.key]" />
        </all>
    </flow>

    <flow name="sorted-sets-writer">
        <vm:inbound-endpoint path="sorted-sets-writer.in"
            exchange-pattern="request-response" />

        <all>
            <redis:sorted-set-add key="#[message.inboundProperties.key]"
                score="#[header:INBOUND:score]" />
            <redis:sorted-set-add key="#[message.inboundProperties.key]"
                score="#[header:INBOUND:score]" mustSucceed="true" />
            <redis:sorted-set-add key="#[message.inboundProperties.key]"
                score="#[header:INBOUND:score]" />
        </all>
    </flow>
    <flow name="sorted-sets-reader">
        <vm:inbound-endpoint path="sorted-sets-reader.in"
            exchange-pattern="request-response" />
        <all>
            <redis:sorted-set-select-range-by-index
                key="#[message.inboundProperties.key]" start="0" end="-1" />
            <redis:sorted-set-select-range-by-index
                key="#[message.inboundProperties.key]" start="0" end="-1"
                order="DESCENDING" />
            <redis:sorted-set-select-range-by-score
                key="#[message.inboundProperties.key]" min="0.5" max="10" />
            <redis:sorted-set-select-range-by-score
                key="#[message.inboundProperties.key]" min="10" max="0.5" order="DESCENDING" />
        </all>
    </flow>
</mule>