src/test/resources/redis-pubsub-tests-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
          http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/3.2/mule-redis.xsd
          http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
          http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/3.2/mule-test.xsd">

    <redis:config />
    
    <flow name="publisher">
        <vm:inbound-endpoint path="publisher.in" />
        <redis:publish channel="#[header:INBOUND:target-channel]" />
    </flow>

    <flow name="subscriber">
        <redis:subscribe>
            <!-- Channels are selected by patterns -->
            <redis:channels>
                <redis:channel>mule.test.single.channel</redis:channel>
                <redis:channel>mule.test.multi.channel.*</redis:channel>
            </redis:channels>
        </redis:subscribe>
        <test:component />
    </flow>           
</mule>          