src/test/resources/redis-datastructures-tests-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:util="http://www.springframework.org/schema/util"
      xmlns:p="http://www.springframework.org/schema/p"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
          http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/3.2/mule-redis.xsd
          http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
          http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd
          http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/3.2/mule-test.xsd
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <redis:config />
    
    <flow name="strings-writer">
        <vm:inbound-endpoint path="strings-writer.in"
                             exchange-pattern="request-response" />
        <all>
            <redis:set key="#[header:INBOUND:key]" />
            <redis:set key="#[string:#[header:INBOUND:key].ttl]" expire="1" />
            <redis:set key="#[string:#[header:INBOUND:key].other]" ifNotExists="true" />
            <append-string-transformer message=".foo" />
            <redis:set key="#[header:INBOUND:key]" ifNotExists="true" />
        </all>
    </flow>
    <flow name="strings-reader">
        <vm:inbound-endpoint path="strings-reader.in"
                             exchange-pattern="request-response" />
        <redis:get key="#[header:INBOUND:key]" />
    </flow>
    
    <flow name="hashes-writer">
        <vm:inbound-endpoint path="hashes-writer.in"
                             exchange-pattern="request-response" />
        <all>
            <redis:hash-set key="#[header:INBOUND:key]" field="#[header:INBOUND:field]" />
            <redis:hash-set key="#[header:INBOUND:key]" field="#[string:#[header:INBOUND:field].other]" ifNotExists="true" />
            <append-string-transformer message=".foo" />
            <redis:hash-set key="#[header:INBOUND:key]" field="#[header:INBOUND:field]" ifNotExists="true" />
        </all>
    </flow>
    <flow name="hashes-reader">
        <vm:inbound-endpoint path="hashes-reader.in"
                             exchange-pattern="request-response" />
        <redis:hash-get key="#[header:INBOUND:key]" field="#[header:INBOUND:field]" />
    </flow>
    
    <flow name="lists-writer">
        <vm:inbound-endpoint path="lists-writer.in"
                             exchange-pattern="request-response" />
        <all>
            <redis:list-push key="#[header:INBOUND:key]" side="LEFT" ifExists="true" />
            <redis:list-push key="#[header:INBOUND:key]" side="RIGHT" ifExists="true" />
            <redis:list-push key="#[header:INBOUND:key]" side="LEFT"/>
            <redis:list-push key="#[header:INBOUND:key]" side="RIGHT" />
        </all>
    </flow>
    <flow name="lists-reader">
        <vm:inbound-endpoint path="lists-reader.in"
                             exchange-pattern="request-response" />
        <redis:list-pop key="#[header:INBOUND:key]" side="#[header:INBOUND:side]" />
    </flow>
</mule>          